.main-section  {
    height: 100vh;
    background-color: var(--very-light-gray);
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif;
}

@media (max-width: 768px) {
    .main-section {
        overflow-y: auto;
        height: auto;
    }
}