@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

@font-face {
    font-family: "Lexend Deca";
    src: url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
}

@font-face {
    font-family: "Big Shoulders Display";
    src: url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--very-light-gray);
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    color: var(--very-dark-cyan);
}